In [204]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set() #this is used for plot styling
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN

df1 = pd.read_csv("2018_Financial_Data.csv")
financial_data = pd.DataFrame(df1, columns = ['Symbol', 'Revenue', 'Revenue Growth', 'Cost of Revenue', 'Gross Profit', 
                     'Operating Expenses', 'Operating Income', 'Earnings before Tax', 'Net Income', 'Net Debt']) 


# Calculate earnings per share ratio
financial_data['EarningsPerShare'] = (df1['Net Income'] - df1['Preferred Dividends']) / df1['Weighted Average Shs Out']

# Get the P/E ratio directly from data
financial_data['PriceEarningsRatio'] = df1['PE ratio']

# Calculate debt to equity ratio
financial_data['DebtEquityRatio'] = (df1['Short-term debt'] + df1['Long-term debt']) / df1['Total shareholders equity']

# Get the return on equity ratio
financial_data['ReturnOnEquity'] = df1['returnOnEquity']

# Get the quick ratio
financial_data['QuickRatio'] = df1['quickRatio']

# Calculate the working capital ratio
financial_data['WorkingCapitalRatio'] = df1['Total current assets'] / df1['Total current liabilities']



# Get rid of empty values from the date given
nan_value = float("NaN")
financial_data.replace("", nan_value, inplace=True)
financial_data.replace(0, nan_value, inplace=True) #get rid of zero values?


financial_data.dropna(axis=0, inplace = True)
target_data = financial_data

financial_data = financial_data.drop('Symbol', 1)
#display(target_data)

In [205]:
kmeans = KMeans(n_clusters = 3)
kmeans.fit(financial_data)
y_kmeans = kmeans.predict(financial_data)


portfolio_k3 = pd.DataFrame(target_data.loc[y_kmeans > 1, 'Symbol'])
display(portfolio_k3)
portfolio_k3.to_csv("2018_Portoflio_3K.csv", index = None)

     Symbol
2      INTC
7      MSFT
9       HPQ
12        F
18        T
26       PG
29      PFE
47       KR
52       GM
59      LOW
67       VZ
76      MPC
77       PM
85      DIS
87      CVX
118     PBR
125      BA
133     WBA
178     CNC
182      CI
206     VLO
210      HD
227     IBM
239     CAT
252     TGT
279     MET
285     UTX
293    FCAU
300     PEP
303    COST
335     ADM
362   GOOGL
407     SYY
433     UPS
437    ANTM
510     FDX
530     HCA
549     PSX
566      MT
586     PRU
731     NVS
783     VOD
917     ABC
955     BUD
1041    CAH
1068    HUM
1081   HSBC
1169    LFC
1290    BAM
1741    HMC
1821    TEF
1883    TOT
2103    PKX
2235      E
3800   AMOV

In [206]:
kmeans = KMeans(n_clusters = 4)
kmeans.fit(financial_data)
y_kmeans = kmeans.predict(financial_data)
portfolio_k4 = pd.DataFrame(target_data.loc[y_kmeans > 2, 'Symbol'])
display(portfolio_k4)
portfolio_k4.to_csv("2018_Portoflio_4K.csv", index = None)

     Symbol
2      INTC
3        MU
9       HPQ
20     VALE
24     ORCL
...     ...
3374    ACH
3414     IX
3533    BBU
3708    ZNH
3800   AMOV

[127 rows x 1 columns]